<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">

{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding" style='background:black!important; color:white;'>

    <div class='col-12'>
      <img src="{{ 'logor.svg' | asset_url }}" alt="Descripción de la imagen" class='mb-5 ml-3'>

     
    </div>

  <div class='row w-100' style='border-bottom:1px solid white!important; border-top: 1px solid white!important;'>
    <div class='col-lg-2 p-5 ' style='border-right:1px solid white;'>
      <h3 class='f_h3 ml-3'>AYUDA</h3>

<div class='links mt-4 ml-3'>
      <a href='' >Contacto</a><br/>
  <a href='' >Cambios y devoluciones</a><br/>
  <a href='' >Información de envíos</a>


  
</div>
    </div>

    <div class='col-lg-2 p-3 p-5' style='border-right:1px solid white;'>
           <h3 class='f_h3'>LEGAL</h3>

<div class='links mt-4'>
      <a href='' >Políticas de privacidad</a><br/>
  <a href='' >Políticas de Cookies</a><br/>
  <a href='' >Términos y Condiciones</a>


  
</div>
    </div>

    <div class='col-lg-2 p-5' style='border-right:1px solid white;'>
       <h3 class='f_h3'>FOLLOW US</h3>

<div class='links mt-4'>
      <a href='' >Instagram</a><br/>
  <a href='' >Facebook</a><br/>



  
</div>
    </div>

    <div class='col-lg-6 p-5'>
      <form>
     <p class='sus'>Suscribite a nuestro Newsletter y conseguí 10%OFF <br/>
para tu primera compra</p>
      <input class='form-control' placeholder='Correo Electrónico'>
      <button type='submit' class='btn-sus mt-3'>SUSCRIBIRSE</button>
    </div>


      
  </div>

          <div class='col-12 mt-3 mb-3'>
<p class='copyr ml-3'>© LaRando<p>
        </div>

      </footer>
  
 